	
{{menu-bar}}



<br>
	<label>Authorisation successful. Please, choose what to do the next</label>
	<br>
	<br>
	{{#link-to 'surl.shorter'}}<strong>Use the shorten service to process long URL</strong>{{/link-to}}<br><br>
	
	<br>
    {{#link-to 'surl.statistics'}}<strong>Get my statistics about URLs usage<br>or edit attributes of link</strong>{{/link-to}}<br><br>
	
	<br>
	
	
	
	





