{{menu-bar}}

<label>Hello.</label>
<br>
<label>My name is Vitali and this is my first experience that is a bit more complex than "Hello, world". <br>If you have any problems or you notice something interesting, it would be nice to get info from you by one of the following ways:</label>
<br>
<br>
<header><strong>MY CONTACTS</strong></header>
	
	<table>
		<tr>
			<td class="contacts"><img src="assets/images/email.png" /> <a href="mailto:vitaleeks@gmail.com">vitaleeks@gmail.com</a></td>
			<td class="contacts"><img src="assets/images/phone.png" /> +375333124405</td>
		</tr>
		<tr>
			<td class="contacts"><img src="assets/images/website.png" /> <a href="http://vitaleek.blogspot.com">Vitaleeks_blog</a></td>
			<td class="contacts"><img src="assets/images/skype.png" /> <a href="skype:saharuk.vitali">saharuk.vitali</a></td>
		</tr>
		<tr>
			<td class="contacts"><img src="assets/images/github.png" /> <a href="https://github.com/vitaleek">vitaleek</a></td>
			<td class="contacts"><img src="assets/images/stackoverflow.png" /> <a href="https://ru.stackoverflow.com/users/248066/vitaleek-sakharuk">StackOverflow</a></td>
		</tr>
		<tr>
			<td class="contacts"><img src="assets/images/instagram.png" /> <a href="https://www.facebook.com/vitali.sakharuk">Facebook</a></td>
			<td class="contacts"><img src="assets/images/tuffle.png" /> <a href="https://dev.by/users/vitaleeks/">Vitaleek</a></td>
		</tr>
	</table>
